In [1]:
import pandas as pd

In [2]:
df_initial = pd.DataFrame()
df_accident = pd.DataFrame()
df_coordinates = pd.DataFrame()
df_road = pd.DataFrame()
df_weather = pd.DataFrame()

In [3]:
df_initial = pd.read_csv("Accident_Information.csv")

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
for i in df_initial.columns:
    print(i)

Accident_Index
1st_Road_Class
1st_Road_Number
2nd_Road_Class
2nd_Road_Number
Accident_Severity
Carriageway_Hazards
Date
Day_of_Week
Did_Police_Officer_Attend_Scene_of_Accident
Junction_Control
Junction_Detail
Latitude
Light_Conditions
Local_Authority_(District)
Local_Authority_(Highway)
Location_Easting_OSGR
Location_Northing_OSGR
Longitude
LSOA_of_Accident_Location
Number_of_Casualties
Number_of_Vehicles
Pedestrian_Crossing-Human_Control
Pedestrian_Crossing-Physical_Facilities
Police_Force
Road_Surface_Conditions
Road_Type
Special_Conditions_at_Site
Speed_limit
Time
Urban_or_Rural_Area
Weather_Conditions
Year
InScotland

In [5]:
len(df_initial['Local_Authority_(District)'].unique().tolist())

416

In [6]:
df_initial['Local_Authority_(District)'].unique().tolist()

['Kensington and Chelsea',
 'Westminster',
 'Hammersmith and Fulham',
 'City of London',
 'Tower Hamlets',
 'Southwark',
 'Hackney',
 'Islington',
 'Camden',
 'Lambeth',
 'Brent',
 'Haringey',
 'Barnet',
 'Ealing',
 'Richmond upon Thames',
 'Waltham Forest',
 'Newham',
 'London Airport (Heathrow)',
 'Hillingdon',
 'Harrow',
 'Hounslow',
 'Enfield',
 'Redbridge',
 'Barking and Dagenham',
 'Havering',
 'Croydon',
 'Wandsworth',
 'Sutton',
 'Lewisham',
 'Bromley',
 'Greenwich',
 'Bexley',
 'Kingston upon Thames',
 'Merton',
 'South Lakeland',
 'Barrow-in-Furness',
 'Carlisle',
 'Eden',
 'Allerdale',
 'Copeland',
 'Blackpool',
 'Fylde',
 'Lancaster',
 'Blackburn with Darwen',
 'Preston',
 'Wyre',
 'South Ribble',
 'West Lancashire',
 'Chorley',
 'Hyndburn',
 'Ribble Valley',
 'Pendle',
 'Rossendale',
 'Burnley',
 'Wirral',
 'Sefton',
 'Liverpool',
 'Knowsley',
 'St. Helens',
 'Manchester',
 'Oldham',
 'Salford',
 'Bury',
 'Rochdale',
 'Trafford',
 'Tameside',
 'Stockport',
 'Wigan',
 'Bolton',
 'Chester',
 'Warrington',
 'Halton',
 'Macclesfield',
 'Crewe and Nantwich',
 'Ellesmere Port and Neston',
 'Vale Royal',
 'Congleton',
 'Newcastle upon Tyne',
 'Sunderland',
 'North Tyneside',
 'Alnwick',
 'Wansbeck',
 'Blyth Valley',
 'Gateshead',
 'South Tyneside',
 'Tynedale',
 'Castle Morpeth',
 'Berwick-upon-Tweed',
 'Wear Valley',
 'Sedgefield',
 'Durham',
 'Easington',
 'Chester-le-Street',
 'Derwentside',
 'Teesdale',
 'Darlington',
 'York',
 'Scarborough',
 'Craven',
 'Selby',
 'Harrogate',
 'Hambleton',
 'Richmondshire',
 'Ryedale',
 'Leeds',
 'Calderdale',
 'Bradford',
 'Kirklees',
 'Wakefield',
 'Doncaster',
 'Rotherham',
 'Barnsley',
 'Sheffield',
 'North East Lincolnshire',
 'North Lincolnshire',
 'East Riding of Yorkshire',
 'Kingston upon Hull, City of',
 'Hartlepool',
 'Redcar and Cleveland',
 'Middlesbrough',
 'Stockton-on-Tees',
 'Birmingham',
 'Wolverhampton',
 'Walsall',
 'Dudley',
 'Sandwell',
 'Solihull',
 'Coventry',
 'Stoke-on-Trent',
 'Stafford',
 'Staffordshire Moorlands',
 'Newcastle-under-Lyme',
 'East Staffordshire',
 'Cannock Chase',
 'South Staffordshire',
 'Lichfield',
 'Tamworth',
 'Worcester',
 'Wychavon',
 'Malvern Hills',
 'Wyre Forest',
 'Bromsgrove',
 'Redditch',
 'Bridgnorth',
 'Herefordshire, County of',
 'Shrewsbury and Atcham',
 'North Shropshire',
 'Oswestry',
 'South Shropshire',
 'Telford and Wrekin',
 'Stratford-upon-Avon',
 'Warwick',
 'Rugby',
 'North Warwickshire',
 'Nuneaton and Bedworth',
 'Erewash',
 'Amber Valley',
 'Bolsover',
 'Derbyshire Dales',
 'High Peak',
 'North East Derbyshire',
 'Chesterfield',
 'South Derbyshire',
 'Derby',
 'Mansfield',
 'Ashfield',
 'Newark and Sherwood',
 'Bassetlaw',
 'Rushcliffe',
 'Nottingham',
 'Broxtowe',
 'Gedling',
 'South Holland',
 'South Kesteven',
 'North Kesteven',
 'East Lindsey',
 'West Lindsey',
 'Boston',
 'Lincoln',
 'Leicester',
 'Harborough',
 'Charnwood',
 'North West Leicestershire',
 'Rutland',
 'Blaby',
 'Hinckley and Bosworth',
 'Oadby and Wigston',
 'Melton',
 'Kettering',
 'Corby',
 'East Northamptonshire',
 'Daventry',
 'Northampton',
 'South Northamptonshire',
 'Wellingborough',
 'South Cambridgeshire',
 'Cambridge',
 'Huntingdonshire',
 'Peterborough',
 'East Cambridgeshire',
 'Fenland',
 'Breckland',
 "King's Lynn and West Norfolk",
 'Great Yarmouth',
 'Broadland',
 'North Norfolk',
 'Norwich',
 'South Norfolk',
 'Suffolk Coastal',
 'St. Edmundsbury',
 'Ipswich',
 'Forest Heath',
 'Mid Suffolk',
 'Babergh',
 'Waveney',
 'Bedford',
 'Mid Bedfordshire',
 'Luton',
 'South Bedfordshire',
 'East Hertfordshire',
 'North Hertfordshire',
 'Welwyn Hatfield',
 'Broxbourne',
 'St. Albans',
 'Watford',
 'Three Rivers',
 'Hertsmere',
 'Dacorum',
 'Stevenage',
 'Uttlesford',
 'Braintree',
 'Colchester',
 'Epping Forest',
 'Chelmsford',
 'Harlow',
 'Basildon',
 'Thurrock',
 'Brentwood',
 'Maldon',
 'Tendring',
 'Southend-on-Sea',
 'Rochford',
 'Castle Point',
 'Aylesbury Vale',
 'Wycombe',
 'South Bucks',
 'Milton Keynes',
 'Chiltern',
 'Slough',
 'Cherwell',
 'South Oxfordshire',
 'Windsor and Maidenhead',
 'Vale of White Horse',
 'West Oxfordshire',
 'Oxford',
 'West Berkshire',
 'Wokingham',
 'Reading',
 'Bracknell Forest',
 'Isle of Wight',
 'Southampton',
 'East Hampshire',
 'Havant',
 'Gosport',
 'Fareham',
 'Winchester',
 'Hart',
 'Eastleigh',
 'Basingstoke and Deane',
 'New Forest',
 'Portsmouth',
 'Test Valley',
 'Rushmoor',
 'Elmbridge',
 'Runnymede',
 'Guildford',
 'Mole Valley',
 'Spelthorne',
 'Epsom and Ewell',
 'Reigate and Banstead',
 'Woking',
 'Waverley',
 'Surrey Heath',
 'Tandridge',
 'Medway',
 'Dartford',
 'Gravesham',
 'Sevenoaks',
 'Dover',
 'Shepway',
 'Ashford',
 'Thanet',
 'Canterbury',
 'Tunbridge Wells',
 'Swale',
 'Tonbridge and Malling',
 'Maidstone',
 'Brighton and Hove',
 'Wealden',
 'Mid Sussex',
 'Eastbourne',
 'Lewes',
 'Chichester',
 'Rother',
 'Hastings',
 'Crawley',
 'Horsham',
 'Worthing',
 'Arun',
 'Adur',
 'Kerrier',
 'Carrick',
 'Penwith',
 'Restormel',
 'North Cornwall',
 'West Devon',
 'Torridge',
 'Caradon',
 'North Devon',
 'Exeter',
 'East Devon',
 'Teignbridge',
 'Mid Devon',
 'Plymouth',
 'South Hams',
 'Torbay',
 'Bristol, City of',
 'Bath and North East Somerset',
 'Sedgemoor',
 'Mendip',
 'South Gloucestershire',
 'South Somerset',
 'West Somerset',
 'Taunton Deane',
 'North Somerset',
 'Stroud',
 'Tewkesbury',
 'Cheltenham',
 'Gloucester',
 'Forest of Dean',
 'Cotswold',
 'Salisbury',
 'Kennet',
 'West Wiltshire',
 'North Wiltshire',
 'Swindon',
 'Bournemouth',
 'Poole',
 'Christchurch',
 'East Dorset',
 'North Dorset',
 'Purbeck',
 'West Dorset',
 'Weymouth and Portland',
 'Isle of Anglesey',
 'Conwy',
 'Gwynedd',
 'Denbighshire',
 'Flintshire',
 'Wrexham',
 'Caerphilly',
 'Blaenau Gwent',
 'Newport',
 'Torfaen',
 'Monmouthshire',
 'Swansea',
 'Merthyr Tydfil',
 'Neath Port Talbot',
 'Bridgend',
 'Cardiff',
 'The Vale of Glamorgan',
 'Rhondda, Cynon, Taff',
 'Carmarthenshire',
 'Ceredigion',
 'Pembrokeshire',
 'Powys',
 'Highland',
 'Western Isles',
 'Orkney Islands',
 'Shetland Islands',
 'Aberdeen City',
 'Moray',
 'Aberdeenshire',
 'Perth and Kinross',
 'Dundee City',
 'Angus',
 'Fife',
 'Edinburgh, City of',
 'Scottish Borders',
 'West Lothian',
 'Midlothian',
 'East Lothian',
 'Falkirk',
 'Stirling',
 'Clackmannanshire',
 'Glasgow City',
 'East Dunbartonshire',
 'East Renfrewshire',
 'Renfrewshire',
 'Inverclyde',
 'Argyll and Bute',
 'West Dunbartonshire',
 'North Lanarkshire',
 'South Lanarkshire',
 'North Ayrshire',
 'East Ayrshire',
 'South Ayrshire',
 'Dumfries and Galloway',
 'Cheshire East',
 'Cheshire West and Chester',
 'Northumberland',
 'County Durham',
 'Shropshire',
 'Central Bedfordshire',
 'Cornwall',
 'Wiltshire']

In [7]:
df_accident = df_initial[['Accident_Severity','Light_Conditions', 'Number_of_Vehicles', 'Time', 'Urban_or_Rural_Area', 'Year']]

In [8]:
df_accident.insert(0, 'Class', "Accident")

In [9]:
df_accident

,Class,Accident_Severity,Light_Conditions,Number_of_Vehicles,Time,Urban_or_Rural_Area,Year
0,Accident,Serious,Daylight,1,17:42,Urban,2005
1,Accident,Slight,Darkness - lights lit,1,17:36,Urban,2005
2,Accident,Slight,Darkness - lights lit,2,00:15,Urban,2005
3,Accident,Slight,Daylight,1,10:35,Urban,2005
4,Accident,Slight,Darkness - lighting unknown,1,21:13,Urban,2005
...,...,...,...,...,...,...,...
2047251,Accident,Slight,Daylight,1,11:30,Rural,2017
2047252,Accident,Slight,Daylight,1,13:00,Urban,2017
2047253,Accident,Slight,Daylight,2,13:30,Rural,2017
2047254,Accident,Slight,Daylight,1,18:00,Rural,2017
2047255,Accident,Serious,Daylight,2,13:00,Rural,2017

In [10]:
df_accident.insert(1, 'Accident_Individuals', range(1, 1 + len(df_accident)))
df_accident['Accident_Individuals'] = 'accident_' + df_accident['Accident_Individuals'].astype(str)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df_accident

,Class,Accident_Individuals,Accident_Severity,Light_Conditions,Number_of_Vehicles,Time,Urban_or_Rural_Area,Year
0,Accident,accident_1,Serious,Daylight,1,17:42,Urban,2005
1,Accident,accident_2,Slight,Darkness - lights lit,1,17:36,Urban,2005
2,Accident,accident_3,Slight,Darkness - lights lit,2,00:15,Urban,2005
3,Accident,accident_4,Slight,Daylight,1,10:35,Urban,2005
4,Accident,accident_5,Slight,Darkness - lighting unknown,1,21:13,Urban,2005
...,...,...,...,...,...,...,...,...
2047251,Accident,accident_2047252,Slight,Daylight,1,11:30,Rural,2017
2047252,Accident,accident_2047253,Slight,Daylight,1,13:00,Urban,2017
2047253,Accident,accident_2047254,Slight,Daylight,2,13:30,Rural,2017
2047254,Accident,accident_2047255,Slight,Daylight,1,18:00,Rural,2017
2047255,Accident,accident_2047256,Serious,Daylight,2,13:00,Rural,2017

In [12]:
df_accident.insert(2, 'Coordinate_Individuals', range(1, 1 + len(df_accident)))
df_accident['Coordinate_Individuals'] = 'coordinate_' + df_accident['Coordinate_Individuals'].astype(str)

df_accident.insert(3, 'Weather_Individuals', range(1, 1 + len(df_accident)))
df_accident['Weather_Individuals'] = 'weather_' + df_accident['Weather_Individuals'].astype(str)

df_accident.insert(4, 'Road_Individuals', range(1, 1 + len(df_accident)))
df_accident['Road_Individuals'] = 'road_' + df_accident['Road_Individuals'].astype(str)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
df_accident

,Class,Accident_Individuals,Coordinate_Individuals,Weather_Individuals,Road_Individuals,Accident_Severity,Light_Conditions,Number_of_Vehicles,Time,Urban_or_Rural_Area,Year
0,Accident,accident_1,coordinate_1,weather_1,road_1,Serious,Daylight,1,17:42,Urban,2005
1,Accident,accident_2,coordinate_2,weather_2,road_2,Slight,Darkness - lights lit,1,17:36,Urban,2005
2,Accident,accident_3,coordinate_3,weather_3,road_3,Slight,Darkness - lights lit,2,00:15,Urban,2005
3,Accident,accident_4,coordinate_4,weather_4,road_4,Slight,Daylight,1,10:35,Urban,2005
4,Accident,accident_5,coordinate_5,weather_5,road_5,Slight,Darkness - lighting unknown,1,21:13,Urban,2005
...,...,...,...,...,...,...,...,...,...,...,...
2047251,Accident,accident_2047252,coordinate_2047252,weather_2047252,road_2047252,Slight,Daylight,1,11:30,Rural,2017
2047252,Accident,accident_2047253,coordinate_2047253,weather_2047253,road_2047253,Slight,Daylight,1,13:00,Urban,2017
2047253,Accident,accident_2047254,coordinate_2047254,weather_2047254,road_2047254,Slight,Daylight,2,13:30,Rural,2017
2047254,Accident,accident_2047255,coordinate_2047255,weather_2047255,road_2047255,Slight,Daylight,1,18:00,Rural,2017
2047255,Accident,accident_2047256,coordinate_2047256,weather_2047256,road_2047256,Serious,Daylight,2,13:00,Rural,2017

In [14]:
df_accident.loc[df_accident['Accident_Severity'] == "Slight", 'Accident_Severity'] = 1
df_accident.loc[df_accident['Accident_Severity'] == "Serious", 'Accident_Severity'] = 2
df_accident.loc[df_accident['Accident_Severity'] == "Fatal", 'Accident_Severity'] = 3

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [15]:
df_accident.loc[df_accident['Light_Conditions'] == "Daylight", 'Light_Conditions'] = "Day"
df_accident.loc[df_accident['Light_Conditions'] == "Darkness - lights lit", 'Light_Conditions'] = "Night with visibility"
df_accident.loc[df_accident['Light_Conditions'] == "Darkness - no lighting", 'Light_Conditions'] = "Dark"
df_accident.loc[df_accident['Light_Conditions'] == "Darkness - lighting unknown", 'Light_Conditions'] = "Dark"
df_accident.loc[df_accident['Light_Conditions'] == "Darkness - lights unlit", 'Light_Conditions'] = "Night with low visibility"

In [44]:
df_accident.to_csv("accident.csv")

In [60]:
# accident_1 = df_accident.loc[0:1048575]
# accident_2 = df_accident.loc[1048576:]

In [64]:
# accident_1.to_excel("accident_one.xlsx")
# accident_1.to_excel("accident_two.xlsx")

In [16]:
df_coordinates = df_initial[['Latitude','Longitude', 'Local_Authority_(District)']]
df_coordinates.insert(0, 'Class', "Coordinate")

df_coordinates.insert(1, 'Coordinate_Individuals', range(1, 1 + len(df_coordinates)))
df_coordinates['Coordinate_Individuals'] = 'coordinate_' + df_coordinates['Coordinate_Individuals'].astype(str)

df_coordinates.insert(2, 'Accident_Individuals', range(1, 1 + len(df_coordinates)))
df_coordinates['Accident_Individuals'] = 'accident_' + df_coordinates['Accident_Individuals'].astype(str)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df_road = df_initial[['Road_Surface_Conditions', 'Road_Type', 'Speed_limit']]
df_road.insert(0, 'Class', "Road")

df_road.insert(1, 'Road_Individuals', range(1, 1 + len(df_road)))
df_road['Road_Individuals'] = 'road_' + df_road['Road_Individuals'].astype(str)

df_road.insert(2, 'Accident_Individuals', range(1, 1 + len(df_road)))
df_road['Accident_Individuals'] = 'accident_' + df_road['Accident_Individuals'].astype(str)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df_weather = df_initial[['Weather_Conditions']]
df_weather.insert(0, 'Class', "Weather")

df_weather.insert(1, 'Weather_Individuals', range(1, 1 + len(df_weather)))
df_weather['Weather_Individuals'] = 'weather_' + df_weather['Weather_Individuals'].astype(str)

df_weather.insert(2, 'Accident_Individuals', range(1, 1 + len(df_weather)))
df_weather['Accident_Individuals'] = 'accident_' + df_weather['Accident_Individuals'].astype(str)

df_weather.loc[df_weather['Weather_Conditions'] == "Fine no high winds", 'Weather_Conditions'] = "Normal"
df_weather.loc[df_weather['Weather_Conditions'] == "Raining no high winds", 'Weather_Conditions'] = "Rainy"
df_weather.loc[df_weather['Weather_Conditions'] == "Other", 'Weather_Conditions'] = "Other"
df_weather.loc[df_weather['Weather_Conditions'] == "Unknown", 'Weather_Conditions'] = "Other"
df_weather.loc[df_weather['Weather_Conditions'] == "Fine + high winds", 'Weather_Conditions'] = "Stormy"

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
df_accident

,Class,Accident_Individuals,Coordinate_Individuals,Weather_Individuals,Road_Individuals,Accident_Severity,Light_Conditions,Number_of_Vehicles,Time,Urban_or_Rural_Area,Year
0,Accident,accident_1,coordinate_1,weather_1,road_1,2,Day,1,17:42,Urban,2005
1,Accident,accident_2,coordinate_2,weather_2,road_2,1,Night with visibility,1,17:36,Urban,2005
2,Accident,accident_3,coordinate_3,weather_3,road_3,1,Night with visibility,2,00:15,Urban,2005
3,Accident,accident_4,coordinate_4,weather_4,road_4,1,Day,1,10:35,Urban,2005
4,Accident,accident_5,coordinate_5,weather_5,road_5,1,Dark,1,21:13,Urban,2005
...,...,...,...,...,...,...,...,...,...,...,...
2047251,Accident,accident_2047252,coordinate_2047252,weather_2047252,road_2047252,1,Day,1,11:30,Rural,2017
2047252,Accident,accident_2047253,coordinate_2047253,weather_2047253,road_2047253,1,Day,1,13:00,Urban,2017
2047253,Accident,accident_2047254,coordinate_2047254,weather_2047254,road_2047254,1,Day,2,13:30,Rural,2017
2047254,Accident,accident_2047255,coordinate_2047255,weather_2047255,road_2047255,1,Day,1,18:00,Rural,2017
2047255,Accident,accident_2047256,coordinate_2047256,weather_2047256,road_2047256,2,Day,2,13:00,Rural,2017

In [18]:
df_coordinates

,Class,Coordinate_Individuals,Accident_Individuals,Latitude,Longitude,Local_Authority_(District)
0,Coordinate,coordinate_1,accident_1,51.489096,-0.191170,Kensington and Chelsea
1,Coordinate,coordinate_2,accident_2,51.520075,-0.211708,Kensington and Chelsea
2,Coordinate,coordinate_3,accident_3,51.525301,-0.206458,Kensington and Chelsea
3,Coordinate,coordinate_4,accident_4,51.482442,-0.173862,Kensington and Chelsea
4,Coordinate,coordinate_5,accident_5,51.495752,-0.156618,Kensington and Chelsea
...,...,...,...,...,...,...
2047251,Coordinate,coordinate_2047252,accident_2047252,55.311793,-3.450645,Dumfries and Galloway
2047252,Coordinate,coordinate_2047253,accident_2047253,54.994285,-3.067116,Dumfries and Galloway
2047253,Coordinate,coordinate_2047254,accident_2047254,55.053767,-3.225506,Dumfries and Galloway
2047254,Coordinate,coordinate_2047255,accident_2047255,55.326392,-3.412672,Dumfries and Galloway
2047255,Coordinate,coordinate_2047256,accident_2047256,54.989905,-3.272073,Dumfries and Galloway

In [88]:
df_road

,Class,Road_Individuals,Accident_Individuals,Road_Surface_Conditions,Road_Type,Speed_limit
0,Road,road_1,accident_1,Wet or damp,Single carriageway,30.0
1,Road,road_2,accident_2,Dry,Dual carriageway,30.0
2,Road,road_3,accident_3,Dry,Single carriageway,30.0
3,Road,road_4,accident_4,Dry,Single carriageway,30.0
4,Road,road_5,accident_5,Wet or damp,Single carriageway,30.0
...,...,...,...,...,...,...
2047251,Road,road_2047252,accident_2047252,Frost or ice,Dual carriageway,70.0
2047252,Road,road_2047253,accident_2047253,Dry,Single carriageway,20.0
2047253,Road,road_2047254,accident_2047254,Wet or damp,Dual carriageway,70.0
2047254,Road,road_2047255,accident_2047255,Dry,Single carriageway,60.0
2047255,Road,road_2047256,accident_2047256,Wet or damp,Single carriageway,40.0

In [89]:
df_weather

           Class Weather_Individuals Accident_Individuals Weather_Conditions
0        Weather           weather_1           accident_1              Rainy
1        Weather           weather_2           accident_2             Normal
2        Weather           weather_3           accident_3             Normal
3        Weather           weather_4           accident_4             Normal
4        Weather           weather_5           accident_5             Normal
...          ...                 ...                  ...                ...
2047251  Weather     weather_2047252     accident_2047252              Other
2047252  Weather     weather_2047253     accident_2047253             Normal
2047253  Weather     weather_2047254     accident_2047254             Normal
2047254  Weather     weather_2047255     accident_2047255             Normal
2047255  Weather     weather_2047256     accident_2047256        Fog or mist

[2047256 rows x 4 columns]

In [19]:
# coordinate_1 = df_coordinates.loc[0:1048575]
# coordinate_2 = df_coordinates.loc[1048576:]

# coordinate_1.to_excel("coordinate_one.xlsx")
# coordinate_2.to_excel("coordinate_two.xlsx")

In [91]:
# road_1 = df_road.loc[0:1048575]
# road_2 = df_road.loc[1048576:]

# road_1.to_excel("road_one.xlsx")
# road_2.to_excel("road_two.xlsx")

In [92]:
# weather_1 = df_weather.loc[0:1048575]
# weather_2 = df_weather.loc[1048576:]

# weather_1.to_excel("weather_one.xlsx")
# weather_2.to_excel("weather_two.xlsx")

In [19]:
accident_5k = df_accident.loc[0:5000]
coordinate_5k = df_coordinates.loc[0:5000]
road_5k = df_road.loc[0:5000]
weather_5k = df_weather.loc[0:5000]

In [20]:
accident_5k.to_excel("accident_5k.xlsx")
coordinate_5k.to_excel("coordinate_5k.xlsx")
road_5k.to_excel("road_5k.xlsx")
weather_5k.to_excel("weather_5k.xlsx")